.input-wrapper{
    background-color: darkgray;
    width: 150%;
    border-radius: 15px;
    height: 4rem;
    padding: 15px 15px;
    box-shadow: 0px 0px 0px #ddd;
    display: flex;
    align-items: center;
    margin-top: -220px;
}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus{
    outline: none;
}
